@import url("https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.bg {
  background-image: url("./assets/bgImage.png");
  background-size: cover;
  width: 100%;
  height: 616px;
  background-repeat: no-repeat;
  background-position: center;
}

.tybg {
  background-image: url("./assets/tryBg.png");
  background-size: cover;
  /* width: 100%;
  height: 250px; */
  background-repeat: no-repeat;
  background-position: center;
}
